<google-map *ngIf="googleMapService.isLoaded$ | async"
            height="500px" width="100%"
            (mapInitialized)="addMarkers($event)"
            [options]="options">
    <ng-container *ngIf="(markers$ | async) as markers">
        <map-marker #markerRef="mapMarker"
                    *ngFor="let marker of markers"
                    [options]="marker"
                    (mapClick)="showMarkerInfo(markerRef)">
        </map-marker>
        <map-info-window>
            <div class="poi-info-window gm-style" [innerHTML]="'📍 ' + infoWindowText"></div>
        </map-info-window>
    </ng-container>
</google-map>
