@use "sass:math";
@import "common";

.card {
    &-title-wrapper {
        margin-left: -#{$card-spacer-x};
        margin-right: -#{$card-spacer-x};
        padding-left: $card-spacer-x;
        padding-right: $card-spacer-x;
    }

    &:hover {
        transition: filter 0.3s ease-in-out;
        box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
        filter: brightness(80%);
    }
}

.aspect-ratio {
    &-box {
        height: 0;
        position: relative;
        overflow: hidden;
        padding-top: math.div(630, 1200) * 100%;
    }

    &-img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }
}
