<ng-container *ngIf="(city$ | async) as city; else loadingTemplate">
    <h1 class="py-5 mb-3 text-center">{{ city.name }}</h1>

    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-4">
                <img [src]="city.image" class="img-fluid rounded-start" [alt]="city.name" [title]="city.name">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{ city.name_native }}</h5>
                    <p class="card-text">
                        is the city in {{ city.country }}.
                        It was founded in {{ city.founded }} and has almost
                        {{ city.population | million }} million inhabitants.
                    </p>
<!--                    <p class="card-text">-->
<!--                        <small class="text-muted">-->
<!--                         lorem ipsum-->
<!--                        </small>-->
<!--                    </p>-->
                </div>
            </div>
        </div>
    </div>

    <app-map [lat]="city.latitude"
             [lng]="city.longitude"
             [landmarks]="city.landmarks">
    </app-map>

</ng-container>

<ng-template #loadingTemplate>
    <div class="d-flex justify-content-center my-3">
        <div class="spinner-border" role="status"></div>
    </div>
</ng-template>
