<ng-container *ngIf="(city$ | async) as city; else loadingTemplate">
    <h1 class="py-5 mb-3 text-center">{{ city.name }}</h1>

    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-lg-6 col-xl-4">
                <img [src]="city.image" class="img-fluid" id="city-image"
                     [alt]="city.name" [title]="city.name">
            </div>
            <div class="col-lg-6 col-xl-8">
                <div class="card-body">
                    <p class="card-text">
                        <b>{{ city.name }} ({{ city.name_native }})</b> is the city in <b>{{ city.country }}</b>.<br>
                        It was founded in <b>{{ city.founded }}</b> and has around
                        <b>{{ city.population | million }}</b> million inhabitants.
                    </p>
                    <p class="card-text"><b>Hint:</b> don't forget to visit most popular places:</p>
                    <ul id="landmark-list">
                        <li *ngFor="let landmark of city.landmarks">{{ landmark }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <app-map [lat]="city.latitude"
             [lng]="city.longitude"
             [landmarks]="city.landmarks">
    </app-map>

    <p class="my-3 text-end" *ngIf="city.name.toLowerCase() !== 'madrid'">
        Would you like to explore
        <a class="mt-3" routerLink="/city/Madrid">Madrid</a>
        as well?
    </p>
</ng-container>

<ng-template #loadingTemplate>
    <div class="d-flex justify-content-center my-3">
        <div class="spinner-border" role="status"></div>
    </div>
</ng-template>
